SHOPIFY_API_KEY=APP_API_KEY
SHOPIFY_API_SECRET=APP_SECRET
SHOP=your-shop.myshopify.com
ID_HOST=HOST_ID
SCOPES=write_products,write_customers,write_draft_orders,read_locales
HOST=https://front.net

# for autocompletion
TEST=0

# This text is inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQL Server and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/my_database?schema=public"
